html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* justify-content: center; */
    /* align-content: center; */
}

/* .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.key {
    display: block;
    background: orange;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 16px;
    vertical-align: center;
} */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

input[type=button] {
    font-size: 20px;
    width: 200px;
    margin-top: 300px;
}

.scores {
    text-align: center;
}